* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    
}